:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary: #5e3db3;
  --secondary: #f5f4f9;
  --third: #090c35;
  --white: #f2f2f2;
  --black: #000000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  color: #e7e7e7;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 400;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  color: #e7e7e7;
  font-family: Roboto;
  font-size: 90px;
  font-weight: 400;
  line-height: 105px;
  letter-spacing: 0px;
  text-align: left;
}

.container {
  height: 100vh;
  width: 100vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.third {
  color: var(--third);
}
.bg-third {
  background-color: var(--third);
}
.white {
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.black {
  color: var(--black);
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}

@import "@splidejs/react-splide/css";
@import "@splidejs/react-splide/css/core";
